html {
    font-size: 10px;
    background-color: #6f8bf9;
  }

  header {
    display: flex;
    justify-content:space-between;
    background-color: #857E94;
    font-size: 30px;
  }
  header img {
    display: flex;
    height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }

  