html, body {
    font-size: 8px;
    background-color: #6f8bf9;
    margin: 0;
    padding: 0;
  }

  h1,h2{
    font-family: 'Passion One', cursive;
    font-weight: 700;
  }

  h2{
    font-size: 30px;
  }

  .header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #857E94;
    font-size: 32px;
  }
  .header img {
    display: flex;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 4px;
  }

  

  .wrapper{
    display:flex;
    justify-content: space-around;
    
    font-size: 12px;
    font-family: 'Noto Serif', sans-serif;
  }

  .container{
    display:flex;
    max-width: 960px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }


  .top_group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 1 25%;
  }

  .top_group_img {
    display: block;
    margin: 10px;
    outline: dotted;
    outline-color: #857E94;
    border-radius: 4px;
  }

  .blurb{
    display: inline-block;
    text-align: center;
    background-color: #65D3FD;
    padding: 10px;
    margin: 10px;
    
  }

  .job{
    background-color: #65D3FD;
    padding: 10px;
    margin: 10px;
    outline: dotted;
    outline-color: #857E94;
  }

  .job_title{
    font-size: 16px;
    font-style: italic;
  }

  @media screen and (max-width: 1000px)
  {
    .top_group{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      flex: 0 1 auto;
    }
    .container{
      display: flex;
      justify-content: space-around;
    }

  }
  
  