body{
    background-color: rgb(238,238,238);
}

h1{
    margin: 0 auto;
    width: 400px;
    padding-top: 20px;
    font-family: 'Baloo Chettan 2', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

form
{   margin: 0 auto;
    width: 400px;
    padding: 20px;
    line-height: 50px;
}

label {
  font-family: 'Baloo Chettan 2', sans-serif;
  font-weight: 600;
}

input, textarea {
    display: block;
    
}

button {
  padding: 10px;
  border: 1px solid rgb(238, 180, 79);
  border-radius: 10px;
  background-color: rgba(255, 196, 119, 0.918);
  color: white;
  font-family: 'Baloo Chettan 2', sans-serif;
  font-weight: 600;
}